<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api.ecb.robinsoft.org/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>net471</TargetFramework>
    <RuntimeIdentifier>win10-x64</RuntimeIdentifier>
    <ProjectGuid>099b6816-40cb-4038-be49-1ccef257d9c9</ProjectGuid>
    <MSDeployServiceURL>https://win1.robinsoft.org:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>api.ecb.robinsoft.org</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>buraktamturk</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Europe.CentralBank.CashServer.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Europe.CentralBank.CashServer.Models.ApplicationDbContext, Europe.CentralBank.CashServer" MigrationConfiguration="Europe.CentralBank.CashServer.Migrations.Configuration, Europe.CentralBank.CashServer" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Europe.CentralBank.CashServer.Models.ApplicationDbContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Europe.CentralBank.CashServer.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>